{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V6</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 " style="width: 500px">
				<form class="login100-form validate-form"  method="post" action="TextBEnhanced.html">
					{% csrf_token %}
					<span class="login100-form-title" style="text-align: left;">
						Text 2: Leefstijlcoach DenBosch (Enhanced Version)
					</span>

					<p>Your Second text please read it carefully.</p><br>

					
					<h3>Leefstijl kinderen</h3>

                    <span>AAls leefstijlcoach met een aanvullende opleiding tot Kinderleefstijlcoach, ben ik aangehaakt
						in de pilot CooL -Coaching op Leefstijl- voor kinderen met ernstig overgewicht/obesitas in ‘sHertogenbosch. Dit project, lopende tot eind 2018, is een initiatief van zorgverzekeraar CZ
						met als doel een gecombineerde leefstijl interventie vanuit de basiszorgverzekering in de
						toekomst mogelijk maken. Het programma wordt aangeboden in samenwerking met het
						Jeroen Bosch Ziekenhuis, gemeente ‘s-Hertogenbosch en GGD Hart voor Brabant. Zowel
						huisarts, kinderarts als jeugdarts kunnen doorverwijzen naar CooL</span>

					

					<span>Alle verleiding en overvloed, het is soms lastig. Als dit resulteert in een kind met overgewicht
						moeten we ons daar terecht zorgen overmaken. Overgewicht bij kinderen leidt (op termijn)
						vaak tot ziekte, sociale uitsluiting en een laag zelfbeeld.</span>

					

					<span>Wat is normaal, wat is gezond, wat is te veel en hoe kan ik mijn kind helpen afvallen? Samen
						kijken we wat er goed gaat en wat we kunnen verbeteren, stap voor stap en met kleine
						aanpassingen zoeken we naar een gezonde levensstijl die bij u en uw kind past.</span>

					

					<span>Als u verzekerd bent bij CZ of VGZ zijn er tot eind 2018 geen kosten verbonden aan het
						programma. Onder CZ en VGZ vallen ook:
					
						<ul>
							<li>- OHRA</li>
							<li>- Delta Lloyd</li>
							<li>- Unive</li>
							<li>- IZA</li>
							<li>- Zekur</li>
							<li>- Bewust</li>
							<li>- VGZ Carea</li>
							<li>- Trias</li>
							<li>- UMC</li>
							<li>- Zorgzaam verzekerd</li>
							
							
						</ul>
					</span>

					<span>Indien u niet bij een van bovengenoemde verzekeringen bent aangesloten is het mogelijk op
						maat het CooL programma te volgen. Het tarief is dan in onderling overleg</span>

                    
					
                    <br><br><br>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							I'm done.
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>